[Desktop Entry]
Name=River
Comment=A dynamic tiling Wayland compositor
Exec=env XKB_DEFAULT_LAYOUT="se(us),se,de" XKB_DEFAULT_OPTIONS="grp:alt_shift" river
Type=Application
